<section class="lg:relative flex justify-center items-center h-11/12 px-20 py-5">
    <div class="font-archivo mx-auto w-full max-w-7xl pt-16 pb-20 text-center lg:pt-48 lg:text-left">
        <div class="px-6 sm:px-8 lg:w-1/2 xl:pr-16 text-left">
            <h1 class="text-5xl font-headings font-bold tracking-tight text-primary xl:text-4xl flex flex-col">Ever asked yourself ... How can I live a happier life? Create a better society?</h1>
            <p class="mx-auto mt-3 max-w-md text-base text-gray-500 sm:text-base md:mt-5 md:max-w-3xl">We’re an open community dedicated to the art of wiser living and social transformation. We favor approaches that prioritize inner development and cultural change in a rigorous, practical way.<br><br>Sign up to our monthly newsletter for latest updates, projects and community news.</p>
            <div class="mt-10 sm:mt-12">
                <form class="w-full">
                    <div class="mb-5 flex justify-between items-center gap-4">
                        <input type="email" id="email" class="bg-gray-50 h-12 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Enter you email" required />
                        <button style="background: #f0ca5e;" type="submit" class="w-32 h-12 text-dark bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-md px-5 py-2.5 text-center">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="relative w-11/12 flex justify-center items-center">
        <img class="w-full h-full object-contain object-center" src="https://lifeitself.org/assets/lifeitself-landingpage.webp" alt="">
    </div>
</section>