{{!-- <header class="sticky top-0 z-50 flex items-center justify-between px-4 py-5 sm:px-6 lg:px-8 max-w-full bg-background dark:bg-background-dark">
  <div class="w-full flex justify-between items-center py-4">
    <!-- Logo with Text -->

    <a class="flex items-center font-extrabold text-2xl sm:text-2xl text-slate-900 dark:text-white" href="/">
        <img src="{{@site.logo}}" alt="{{@site.title}}" class="w-10 h-10 mr-1 fill-white">{{@site.title}}
    </a>

    <!-- Dynamic Navigation -->
        {{#navigation}}
         
        {{/navigation}}
  </div>
</header> --}}
